:root {
	--base-space: 1.25rem;
}

* {
	box-sizing: border-box;
  }

  body {
    background-color: azure;
    margin: 0;
    padding: 0;
  }

  .menu-toggle {
    position: fixed;
    top: 65px;
    right: 20px;
    text-decoration: none;
    color: rgb(129,185,222);
    display: flex;
    cursor: pointer;
    font-family: 'Hubballi';
    font-size: 2.5rem;
  }

  .change-text {
    opacity: 0;
  }

  .menu-icon {
    margin-top: 2.5%;
    margin-right: 20px;
    color: rgb(129,185,222);
  }  

  .menu-icon-mobile {
    display: none;
  }

  .menu-text {
    margin-right: -35px;
  }

 .logo {
    margin: 20px 0 20px 40px;
  }

  .logo-small {
    display: none;
  }

.about-section {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}


.designer {
    text-align: center;
    max-width: 500px;
}

.designer img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    vertical-align: middle;
}

.designer h2 {
    font-family: 'Hubballi';
    font-size: 2.3rem;
    font-weight: 800;
    color: rgb(129,185,222);
}


.designer p {
    font-family: 'Hubballi';
    font-size: 1.5rem;
    margin-bottom: 2.7rem;
}



    @media (max-width: 720px) {

        body {
          margin: 0;
      }
      
      .logo-small {
        display: inline;
        margin: 0 0 0 -17px;
      }
  
      .logo-big {
        display: none;
      }
    
        .menu-toggle {
          font-size: 1.9rem;
          margin-top: 0;
          right: 0;
        }
    
        .menu-icon {
          display: none;
        }
    
        .menu-icon-mobile {
          display: inline;
          font-weight: 700;
          font-family: 'Hubballi';
          margin-right: 4px;
          margin-bottom: 2px;
        }    

        .about-section {
            flex-direction: column;
             align-items: center;
        }

        .designer {
            max-width: 280px;
        }
        
        .designer img {
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
        }
        
        .designer h2 {
            font-size: 1.8rem;
            font-weight: 600;
            margin-top: 0;
        }

        .designer p {
            font-size: 1.2rem;
            margin-bottom: 2.7rem;
        }
        
  }

  @media (min-width: 721px) and (max-width: 1080px) {
    .menu-toggle {
      margin-top: 10%;
    }

}
  
  
