
:root {
	--base-space: 1.25rem;
}

* {
	box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    background: linear-gradient(rgba(250, 250, 250, 0.8), rgba(185,214, 227,1), rgba(233,234,236,1));
    margin: 0;
    padding: 0;
  }

  .container {
    margin-bottom: 120px;
  }

  .menu-toggle {
    position: fixed;
    top: 65px;
    right: 20px;
    text-decoration: none;
    color: rgb(129,185,222);
    display: flex;
    cursor: pointer;
    font-family: 'Hubballi';
    font-size: 2.5rem;
  }

  .change-text {
    opacity: 0;
  }
  
  .menu-icon {
    margin-top: 2.5%;
    margin-right: 20px;
    color: rgb(129,185,222);
  }  

  .menu-text {
    margin-right: -35px;
  }

  .menu-icon-mobile {
    display: none;
  }

.logo-big {
    margin-top: 0;
    margin-left: 39px;
  }

  .logo-small {
    display: none;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .photo-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 650px;
}

.photo {
    width: 100%;
    height: auto;
}

.info {
    margin-bottom: 0;
    width: 100%;
  }
  
  .info p {
    margin: 0;
    font-family: 'Hubballi';
    color: rgba(25, 70, 141, 0.67);
    font-size: 1.5rem;
  }



  @media (max-width: 720px) {

    body {
      background: rgba(250, 250, 250, 0.8);
    }

    .menu-icon {
      display: none;
    }
	  
    .menu-toggle {
      right: 1px;
      font-size: 1.9rem;
      margin-top: 0;
    }

    .menu-icon-mobile {
      display: inline;
      font-weight: 700;
      margin-right: 8px;
      margin-bottom: 2px;
    }

     .logo {
      margin-left: 25px;
      margin-bottom: 45px;
    }

    .logo-small {
      display: inline;
    }

    .logo-big {
      display: none;
    }
	  
    .photo-container {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
  }

    .info {
     margin-left: 0.5rem;
    }

    .info p {
      font-size: 1.25rem;
    }
}
