:root {
	--base-space: 1.25rem;
}

* {
	box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: 'Hubballi', sans-serif;
    overflow: hidden;
  }
  
  .menu-text {
    position: fixed;
    top: 65px;
    right: 70px;
    font-size: 2.5rem;
    color: rgb(129,185,222);
    font-weight: bolder;
  }

  .change-text {
    opacity: 0;
  }

  .bar1 {
    position: fixed;
    top: 80px;
    right: 202px;
    width: 15px;
    height: 3.4px;
    background-color: rgb(129,185,222);
    margin: 4px 0;
    transition: 0.4s;
  }
  
  .bar2 {
    position: fixed;
    top: 88px;
    right: 180px;
    width: 35px;
    height: 3px;
    background-color: rgb(129,185,222);
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .bar3 {
    position: fixed;
    top: 98px;
    right: 175px;
    width: 15px;
    height: 3px;
    background-color: rgb(129,185,222);
    margin: 6px 0;
    margin-left: 21px;
    transition: 0.4s;
  }
  
  .change .bar1 {
    opacity: 0;
  }
  
  .change .bar3 {
    opacity: 0;
  }


  .homepage-content {
    display: flex;
    color: rgba(250, 250, 250, 0.8);
  }

  .logo {
    margin: 0 0 0 50px;
    width: 17%;
  }

  .menu-text,
  .logo {
    position: absolute;
    z-index: 1;
  }

  .social-icons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  .social-icons a {
    margin: 0 10px;
    text-decoration: none;
  }

  .instagram {
    width: 25%;
  }

  .tiktok {
    width: 25%;
  }
  
  @media (max-width: 768px) {
    .menu-text {
      font-size: 1.9rem;
      right: 28px;
      margin-top: 0;
    }

    .bar1 {
     top: 76.5px;
      right: 127px;
      width: 12px;
      height: 2.5px;
    }
    
    .bar2 {
      top: 80px;
      right: 110px;
      width: 26px;
      height: 2.5px;
    }
    
    .bar3 {
      top: 86px;
      right: 108px;
      width: 12px;
      height: 2.5px;
    }

   .logo {
      margin-left: 25px;
      margin-bottom: 0;
      width: 30%
    }

    .social-icons {
      text-align: center;
    }

    .instagram {
    width: 20%;
    }

    .tiktok {
   width: 20%;
    }

  }
