:root {
	--base-space: 1.25rem;
}

* {
	box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: 'Hubballi', sans-serif;
    overflow: hidden;
  }
  
  .menu-text {
    top: 25px;
    left: 73px;
    font-size: 2.5rem;
    color: rgb(129,185,222);
    font-weight: bolder;
  }

  .change-text {
    opacity: 0;
  }
  
  .container {
    margin-left: 25px;
    margin-top: 22px;
  }

  .bar1 {
    width: 15px;
    height: 3px;
    background-color: rgb(129,185,222);
    margin: 4px 0;
    transition: 0.4s;
  }
  
  .bar2 {
    width: 35px;
    height: 3px;
    background-color: rgb(129,185,222);
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .bar3 {
    width: 15px;
    height: 3px;
    background-color: rgb(129,185,222);
    margin: 6px 0;
    margin-left: 21px;
    transition: 0.4s;
  }
  
  .change .bar1 {
    opacity: 0;
  }
  
  .change .bar3 {
    opacity: 0;
  }


  .homepage-content {
    display: flex;
    justify-content: center;
    color: rgb(219, 215, 204);
  }

  .sabine-camhi {
    font-size: 6rem;
    top: 300px;
    font-weight: bold;
  }

  .menu-text,
  .sabine-camhi {
    position: absolute;
    z-index: 1;
  }

  .nick-trian {
    text-align: center;
    margin-top: 320px;
    font-size: 3rem;
  }

  .social-icons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  .social-icons a {
    margin: 0 10px;
    text-decoration: none;
  }

  .instagram {
    width: 17%;
  }

  .tiktok {
    width: 17%;
  }
  
  @media (max-width: 720px) {
    .menu-text {
      font-size: 2rem;
    }

    .container {
      margin-top: 15px;
    }

    .bar1 {
      width: 15px;
      height: 2.5px;
      margin: 4px 0;
    }
    
    .bar2 {
      width: 35px;
      height: 2.5px;
      margin: 6px 0;
    }
    
    .bar3 {
      width: 15px;
      height: 2.5px;
      margin: 6px 0;
      margin-left: 21px;
    }

    .sabine-camhi {
      font-size: 3.5rem;
      text-align: center;
      top: 200px;
    }

    .social-icons {
      text-align: center;
    }

  }