:root {
	--base-space: 1.25rem;
}

* {
	box-sizing: border-box;
  }

  body {
    background-color: rgba(251, 228, 29, 0.84);
    margin: 0;
    padding: 0;
  }

  .new-menu-toggle {
    position: fixed;
    top: 65px;
    right: 70px;
    text-decoration: none;
    color: rgba(12, 65, 151, 0.72);
    display: flex;
    cursor: pointer;
    font-family: 'Hubballi';
    font-size: 2.5rem;
  }
  
  .menu-icon {
    margin-top: 2.5%;
    margin-right: 20px;
  }  

  .menu-icon-mobile {
    display: none;
  }

  .header {
    padding: 10px;
    background-color: rgba(250, 250, 247, 0.98);
  }

  .logo {
    margin: 8px 0 0 40px;
    width: 17%;
  }

  .menu-list {
    font-family: 'Hubballi';
    list-style: none;
    padding: 0;
    margin-top: 50px;
  }
  
  .menu-list li {
    margin-left: 80px;
  }
  
  .menu-list a {
    text-decoration: none;
    color: rgba(12, 65, 151, 0.72);
    font-size: 3rem;
    letter-spacing: 8px;
    line-height: 1.5;
  }

  .menu-list li a:hover {
    color: rgba(130, 195, 260, 1);
  }

 .social-icons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  .social-icons a {
    margin: 0 10px;
    text-decoration: none;
  }

  .instagram {
    width: 25%;
  }

  .tiktok {
    width: 25%;
  }
  

  @media (max-width: 768px) {
    body {
      overflow-x: hidden;
    }

    .new-menu-toggle {
      right: 30px;
      font-size: 1.9rem;
      margin-top: 1px;
    }

    .menu-icon {
      display: none;
    }

    .menu-icon-mobile {
      display: inline;
      margin-right: 8px;
      margin-bottom: 2px;
    }

   .logo {
      margin-left: 15px;
      margin-bottom: 0;
      width: 32%;
    }

    .menu-list li {
      margin-left: 7%;
    }

    .menu-list a {
      font-size: 1.8rem;
    }
  
    .social-icons {
      text-align: center;
    }

    .instagram {
    width: 20%;
    }

    .tiktok {
   width: 20%;
    }
  }
