:root {
	--base-space: 1.25rem;
}

* {
	box-sizing: border-box;
  }

  body {
    background: linear-gradient(rgba(250, 250, 250, 0.8), rgba(185,214, 227,1), rgba(233,234,236,1));
    margin: 0;
    padding: 0;
  }

  .container {
    margin: 0 50px 25px 50px;
  }

  .menu-toggle {
    position: fixed;
    top: 65px;
    right: 20px;
    text-decoration: none;
    color: rgb(129,185,222);
    display: flex;
    cursor: pointer;
    font-family: 'Hubballi';
    font-size: 2.5rem;
  }

  .menu-text {
    margin-right: -35px;
  }

  .change-text {
    opacity: 0;
  }
  
  .menu-icon {
    margin-top: 2.5%;
    margin-right: 20px;
    color: rgb(129,185,222);
  }  

  .menu-icon-mobile {
    display: none;
  }

 .logo-big {
    margin-top: 0;
    margin-left: 33px;
  }

  .logo-small {
    display: none;
  }


  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px;
    padding: 0;
  }

  .image-item {
    position: relative;
    width: 25%;
    margin: 0 18px 110px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  .image-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s, filter 0.3s;
  }
  
  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
    font-family: 'Outfit';
    font-size: 2.2rem;
    line-height: 1.6;
    color: rgba(25, 70, 141, 0.86);
  }

  .image-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s;
  }

  .image-item:hover::before {
    background-color: rgba(255, 255, 255, 0.6);
  }
  
  .image-item:hover .title {
    opacity: 1;
  }


  @media screen and (min-width: 341px) and (max-width: 720px) {
    .container {
      margin: 0 10px 15px 10px;
    }

  .menu-icon {
      display: none;
    }
	  
    .menu-toggle {
      right: 1px;
      font-size: 1.9rem;
      margin-top: 0px;
    }

    .menu-icon-mobile {
      display: inline;
      font-weight: 700;
      margin-right: 8px;
      margin-bottom: 2px;
    }

    .logo {
      margin-left: 15px;
    }

    .logo-small {
      display: inline;
    }

    .logo-big {
      display: none;
    }

    .image-item {
      margin: 10px 0 40px;
      width: 90%;
    }

    .image-item img {
      width: 100%;
    }

    .title {
      font-size: 1.4rem;
    }
  }

